html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('/static/contact/images/house.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h1,
h3 {
    color: rgb(255, 255, 255);
    font-family: 'Lato', 'Times New Roman', Times, serif;
    font-weight: 300;
}

.footer-text {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Bellefair", serif;
    margin: 10px;
    text-align: left;
}

.spaced-text {
    letter-spacing: -0.2em;
}


.form-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.left-column {
    height: auto;
    margin-top: 0%;
    margin-bottom: 8px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
}

input[type=submit] {
    background-color: #cd7f32;
    color: white;
    font-family: 'Lato', 'Times New Roman', Times, serif;
    font-weight: 300;
    padding: 12px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-subject select,
.form-message textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    /* You can adjust the background color if needed */
}

/* General input field styling */
input.form-control,
textarea.form-control,
select.form-control,
.form-subject select,
.form-message textarea {
    margin-bottom: 8px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /* Add font family and font weight */
    font-family: 'Lato', 'Times New Roman', Times, serif;
    font-weight: 300;

}

.form-subject select {
    margin-top: 0%;
}

.form-group-full {
    padding-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #28a745;
}

/*--------------------------------------------Main and Footer*/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
}

/* ----------- Social */
.social-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-links .social {
    display: inline-block;
    margin: 0 10px;
}

.social-links li a i {
    width: 4rem;
    height: 4rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 1.6rem;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #dd9208;
}

.social {
    margin: 0 0.7rem;
}

/* contact.css */

.form-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-column,
.right-column {
    flex: 1;
    min-width: 300px;
    /* Ensure columns don't collapse on smaller screens */
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    .form-columns {
        align-items: flex-start;
        flex-direction: column;
        padding: 0 10px;
    }

    form .left-column,
    form .right-column {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .right-column:last-child textarea {
        height: auto;
        /* Reset height for mobile view */
        min-height: 150px;
        /* Adjust based on your design */
    }

    .nav-item {
        padding-left: 1rem;
        /* Reduced padding for smaller screens */
    }
}