<footer class="container-fluid">
    <div>
        <ul class="list-inline social-links">
            <li class="list-inline-item social">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=61559721330836&sk=about">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                    <span class="visually-hidden">Facebook</span>
                </a>
            </li>
            <li class="list-inline-item social">
                <a target="_blank" href="https://www.instagram.com/avon_moor/">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="visually-hidden">Instagram</span>
                </a>
            </li>
            <li class="list-inline-item social">
                <a target="_blank" href="https://www.youtube.com/@Avonmoor">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                    <span class="visually-hidden">YouTube</span>
                </a>
            </li>
            <li class="list-inline-item social">
                <a target="_blank" href="https://www.tiktok.com/@avonmoor?_t=8myTGdBGY3F&_r=1">
                    <i class="fab fa-tiktok" aria-hidden="true"></i>
                    <span class="visually-hidden">TikTok</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-text">
        <p>
            © <span class="spaced-text">AVONMOOR</span> MMXXIV
        </p>
    </div>
</footer>