{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid col-lg-8 col-md-12 col-12">
            <a class="navbar-brand logo" href="#" id="home">
                <img src="{% static '/img/master-logo-black.png' %}" alt="Logo for Avonmoor" style="width: 200px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-font nav-link" href="#" id="about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-font nav-link" href="#" id="garden">GARDEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-font nav-link" href="#" id="property">PROPERTY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-font nav-link" href="#" id="gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-font nav-link" href="#" id="contact">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-font nav-link" href="#" id="blog">BLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    
</body>
</html>